+b.FOOTER.footer
   .container
      .row
         .col-sm-12.col-lg-5.copyrights
            p.copyright.footer__copyright &copy; 2017 Аналитический психолог Ольга Бернацкая #[br] Все права защищены
         .col-sm-12.col-lg-4.confidentials
            p.footer__link
               a(href="#") Политика конфиденциальности         
            p.footer__link
               a(href="#") Отказ от ответственности
         .col-sm-12.col-lg-3.socials
            .footer__socials
               .social-icon(href="#")
                  span.fa.fa-facebook(aria-hidden="true")
               .social-icon(href="#")
                  span.fa.fa-twitter(aria-hidden="true")