+b.HEADER.header
   +e.logotype(href="#" data-anim-stagger="vertical")
      +b.logo
         +e.H3.title Аналитический психолог
         +b.DIV.roll-hover-btn.__subtitle
            +e.DIV.label Ольга Бернацкая
            +e.DIV.label Ольга Бернацкая
   +b.location.__info(data-anim-stagger="vertical")
      +e.address(href="/") г. Николаев, #[strong ул. Фалеевская 49/8]
      +e.time с #[strong 10] до #[strong 18.00]
   +b.email.__info(data-anim-stagger="vertical")
      +e.title Есть вопрос? Пишите!
      +e.address(href="mailto: olgabern@i.ua") #[strong olgabern@i.ua]
   +b.phone.__info(data-anim-stagger="vertical")
      +e.icon
         +icon('phone-call')
      +e.text
         +e.number(href="tel: 38 097 493-05-01") 38 097 493-05-01
         +e.call-me(href="#callMe" data-toggle="modal" data-target="#callMe") Перезвоните мне
   +b.phone.__info.dropdown
      +b.BUTTON.button.dropdown-toggle.__btn(type="button" id="dropdownPhoneButton" data-toggle="dropdown" aria-haspopup="true")
         span(class="fa fa-mobile" aria-hidden="true")
      .dropdown-menu.dropdown-menu-right.phone__dropdown(aria-labelledby="dropdownPhoneButton")
         +e.icon
            +icon('phone-call')
         +e.text
            +e.number.dropdown-item(href="tel: 38 097 493-05-01") 38 097 493-05-01
            +e.call-me.dropdown-item(href="#callMe" data-toggle="modal" data-target="#callMe") 
               span Перезвоните мне