.navbar-wrapper
   .container
      +b.navbar.navbar-expand-lg
         button.navbar-toggler(type="button")
            span.line
            span.line
            span.line
         +e.menu.mr-auto.js-menu
            include menu.pug
         +e.button
            +b.BUTTON.button._theme_action._size-m._rounded(type="button" data-toggle="modal" data-target="#register") 
               +e.SPAN.text Записаться на приём
         +b.menu-wrapper.hidden
            +e.inner
               include menu.pug