extends ../layout/main

block variables
   - var title = 'Главная страница'
   - var pageClass = 'index-page'

block content
   include index/welcome
   include index/services
   include index/about
   include index/consultation
   include index/certificates
   include index/contacts
   include index/misc