+b.SECTION.section.about(id="about")
   .container
      .row
         .col-md-9
            .row
               .about-container
                  .col-md-7
                     .about__description Часто спрашивают: «Что значит ALTERA?» #[br]Это название отображает нашу сущность #[br]и то, чем мы занимаемся.
                     .about__text 
                        p У многих наступает момент, когда ты четко понимаешь, что не хочешь жить как прежде — хочется жить совершенно по-другому. Для этого нужны изменения. Но не всегда осознаешь, с чего начинать. Именно в этом мы помогаем людям. Наше название происходит от латинского «alter» — иной, другой. Другой взгляд, иное мнение специалистов ALTERA дают вам возможность начать новую, лучшую жизнь.
                  .col-md-5
                     .about__img(data-tilt)
                        img(src="http://5psy.ru/images/stories/Articles/kab-psy.jpg" alt="")
         .col-md-3
            .last-news
               each item in content.blog.block1
                  +b.news
                     +e.info
                        +e.date= item['date']
                        +e.socials
                           a.vk(href="#")
                              i.fa.fa-vk(aria-hidden="true")
                           a.fb(href="#")
                              i.fa.fa-facebook(aria-hidden="true")
                           a.ok(href="#")
                              i.fa.fa-odnoklassniki(aria-hidden="true")
                     +e.title(href="#")= item['title']
                     +e.text= item['desc']