+b.SECTION.section.section-contacts
   .container
      .section-contacts__xl-only
         .row
            .col-12.col-lg-6.col-xl-5.offset-xl-1
               +e.introduction_left
                  +e.H1.title Остались вопросы?
                  +e.subtitle Мы всегда рады помочь! Обращайтесь по указанному  телефону или адресу, и мы обязательно вас проконсультируем!
               +e.content
                  +b.contacts
                     address
                        strong Адрес
                        br
                        a.address-link(href="#") Николаев, Украина, 05044, ул. Шевченковская, 39
                     address
                        strong E-mail:
                        br
                        a.address-link(href="mailto: olgabern@i.ua") olgabern@i.ua
                     address
                        strong Телефон:
                        br
                        a.address-link(href="tel: 38 097 493-05-01") 38 097 493-05-01
            .col-12.col-lg-5.col-xl-4.offset-md-1
               +b.contact-form
                  form(method="post")
                     .form-group
                        label.col-form-label Введите ваше имя
                        input.form-control.form-control-lg(type="text" placeholder="Например, Андрей")
                     .form-group
                        label.col-form-label Введите ваш E-Mail
                        input.form-control.form-control-lg(type="email" placeholder="hello@mail.ru")
                     .form-group
                        label.col-form-label Введите ваше сообщение
                        textarea.form-control(placeholder="Lorem ipsum dolor sit amet..." rows="3")
                     +b.terms
                        label.custom-control.custom-checkbox(for="privacy")
                           input.custom-control-input(type="checkbox" id="privacy" checked)
                           span.custom-control-indicator
                           span.custom-control-description Я согласен с условиями&nbsp;
                              a(href="#") политики конфиденциальности 
                     .form-group.contact-form__send-btn
                        +b.BUTTON.button._theme_accent._rounded._fluid
                           +e.SPAN.text Получить консультацию
      .section-contacts__mobile-only
         +e.introduction
            +e.H1.title Остались вопросы?
         +e.content
            p Позвоните по номеру
            a.contact-tel(href="tel:38 097 493-05-01") 38 097 493-05-01
            p или &nbsp;
               a.contact-link.underline(href="" data-toggle="modal" data-target="#consult") задайте вопрос
