.modal.fade.modal-consultation(id="consult" tabindex="-1" role="dialog" aria-labelledby="consult")
   .modal-dialog(role="document")
      .modal-content
         .modal-header
            h3.modal-title Онлайн консультация
            button.close(type="button" data-dismiss="modal" aria-label="Close")
               span.close__line
               span.close__line
         .modal-body
            form(method="post")
               .form-group
                  label.col-form-label Ваше имя:
                  input.form-control.form-control-lg(type="text" placeholder="Например, Андрей")
               .form-group
                  label.col-form-label Ваш E-Mail:
                  input.form-control.form-control-lg(type="email" placeholder="hello@mail.ru")
               .form-group
                  label.col-form-label Сообщение:
                  textarea.form-control(placeholder="Lorem ipsum dolor sit amet..." rows="3")
               .form-group
                  label.custom-control.custom-checkbox(for="privacy")
                     input.custom-control-input(type="checkbox" id="privacy" checked)
                     span.custom-control-indicator
                     span.custom-control-description Я согласен с условиями&nbsp;
                        a(href="#") политики конфиденциальности 
               .form-group.modal-btn
                  +b.BUTTON.button_theme_accent._rounded._fluid
                     +e.SPAN.text Получить консультацию
.modal.fade.modal-register(id="register" tabindex="-1" role="dialog" aria-labelledby="register")
   .modal-dialog(role="document")
      .modal-content
         .modal-header
            h3.modal-title Запись на приём
            p.modal-subtitle Напишите своё имя и номер телефона и я свяжусь с вами
            button.close(type="button" data-dismiss="modal" aria-label="Close")
               span.close__line
               span.close__line
         .modal-body
            .form-group
               label.col-form-label(for="inputRegName") Ваше имя:
               input.form-control.form-control-lg(type="text" id="inputRegName" placeholder="Например, Андрей")
            .form-group
               label.col-form-label(for="inputRegPhone") Ваш телефон:
               input.form-control.form-control-lg.phone-number(type="tel" placeholder="+38" value="+380")
            .form-group
               label.col-form-label(for="selectRegService") Выберите услугу:
               select.custom-select.form-control-lg
                  each option in content.services
                     option= option['title'] 
            .form-group.modal-btn
               +b.BUTTON.button_theme_accent._rounded._fluid
                  +e.SPAN.text Записаться на приём
.modal.fade.modal-call(id="callMe" tabindex="-1" role="dialog" aria-labelledby="callMe")
   .modal-dialog
      .modal-content
         .modal-header
            h3.modal-title Обратный звонок
            p.modal-subtitle Оставьте свой номер телефона и я перезвоню Вам
            button.close(type="button" data-dismiss="modal" aria-label="Close")
               span.close__line
               span.close__line
         .modal-body
            form(method="post")
               .form-group
                  label.col-form-label(for="inputRegName") Ваше имя:
                  input.form-control.form-control-lg(type="text" id="inputRegName" placeholder="Например, Андрей")
               .form-group
                  label.col-form-label(for="inputRegPhone") Ваш телефон:
                  input.form-control.form-control-lg.phone-number(type="tel" placeholder="+38" value="+380")
               .form-group.modal-btn
                  +b.BUTTON.button_theme_accent._rounded._fluid
                     +e.SPAN.text Заказать обратный звонок