+b.SECTION.section.section-services
   .container
      +e.introduction
         +e.H1.title Мои услуги
      +e.content
         .row.no-gutters.services-list
            each object in content.services
               .col-12.col-md-6.col-lg-4.col-xl-3
                  +b.service
                     +e.number
                        span= object['num']
                     +e.H4.title!= object['title']
                     +e.text= object['text']
      +e.footer
         .section-services__btn
            +b.BUTTON.button._theme_accent._rounded._size-xl(type="button" data-toggle="modal" data-target="#register") 
               +e.text Записаться на приём