SECTION.section.first-screen(id="first-screen")
   .container
      include ../../modules/header
      +b.welcome
         .row
            .col-sm-12.col-md-6.col-lg-6.offset-xl-1
               .img-backdroped
                  +b.image(data-img-move="to-bottom")
                     +e.move
                        +e.overlay
                        img(src="static/img/content/about.jpg" alt="")
                  .backdrop
            .col-12.col-md-6.col-lg-5.col-xl-4.offset-lg-1
               +e.content
                  +e.H1.title(data-anim-stagger="vertical") В вашей жизни #[br] наступил момент...
                  +e.P.text(data-anim-stagger="vertical") Возможно, в Вашей жизни наступил тот момент, когда Вы почувствовали, 
                     | что пора что-то менять. Это очень непростое решение. Вы искали варианты эффективной помощи
                     | и поэтому попали на сайт Психологического центра ALTERA.
      +b.scroll
         +e.mouse
   +b.ornament-animation.first-screen__ornament
      +e.inner
         +e.svg
            +icon('hexagon')
         +e.svg
            +icon('hexagon')