.about {
   margin: 80px 0;
   padding: 100px 0;

   &-container {
      padding: 80px 50px 60px 0;
      position: relative;
      display: flex;
      align-items: center;

      &::before {
         content: '';
         background-color: $g-section-color;
         @include size(100%);
         @include absolute(0, 0);
         transform: translateX(-16.66667%);
         z-index: -1;
      }
   }

   &__img {
      box-shadow: 0 5px 35px 0 rgba($black, .2);
      overflow: hidden;
      display: flex;
      justify-content: center;
      height: 250px;

      & img {
         height: 100%;
      }
   }

   &__text {
      font-size: rem(15);
      line-height: rem(28);
      color: #797979;
   }

   &__description {
      font: rem(21) $g-title-font;
      line-height: rem(32);
      margin-bottom: 50px;
      position: relative;

      &::before {
         content: '';
         background: url('../img/content/quote.png') no-repeat;
         background-size: cover;
         @include size(40px);
         @include absolute(10px, -35px);
         transform: translateX(-100%);
      }
   }
}


.last-news {
   &__header {
      margin-bottom: 3rem;
   }

   &__title {
      font: rem(32) $g-title-font;
      float: left;
   }

   &__controls {
      float: right;
      margin-top: 5px;
   }

   &__control {
      padding: 5px 3px;

      & svg {
         @include size(14px, 20px);
      }
   }
}

.news {
   &:not(:last-child) {
      margin-bottom: 3rem;
   }

   &__title {
      font: rem(16) $g-title-font;
      line-height: rem(21);
      color: inherit;
   }

   &__date {
      font: rem(12) 'ProximaNova';
      color: $gray-600;
      margin-bottom: .5rem;
   }

   &__text {
      margin-top: 1rem;
      line-height: rem(24);
      color: #797979;
   }
}

@media (max-width: $g-container-lg) {
   .section-about {
      padding: 0;

      & .container {
         max-width: $g-container-lg;
      }
   }

   .about {
      display: none;
   }

   .last-news {
      padding: 60px 0;
      
      &::before {
         display: none;
      }

      &::after {
         background-color: #111;
      }

      &__title {
         position: relative;
         text-align: center;
         margin: 20px 0;
         color: $white;
         padding: 0;

         &::before {
            display: none;
         }
      }

      &__dots {
         display: none;
      }

      &__list {
         max-width: $g-container-md;
         margin: 0 auto;
         padding: 0 15px;
      }

      &__link {
         position: relative;
         bottom: 0;

         & > a {
            background-color: $white;
            display: inline-block;
            padding: 12px 35px;

            &::after {
               display: none;
            }
         }
      }
   }

   .news {
      margin: 0 30px 50px;

      &__date,
      &__text,
      &__socials > a {
         color: $white;
      }

      &__title {
         color: $g-link-color;
         font-size: rem(14);
         letter-spacing: rem(.5);
      }
   }
}

@media (max-width: $g-container-md) {
   .section-about {
      margin: 0;
   }
}