.about {
   margin: 80px 0;
   padding: 100px 0;
   overflow: hidden;

   @media screen and (max-width: $g-container-xl) {
      padding: 0;
   }

   &-container {
      padding: 90px 50px 70px 0;
      position: relative;
      display: flex;
      align-items: center;

      @media screen and (max-width: $g-container-xl) {
         margin-bottom: 75px;
      }

      @media screen and (max-width: $g-container-lg) {
         flex-direction: column;
      }
   }

   &__backdrop {
      background-color: $g-section-color;
      @include size(100%);
      @include absolute(0, -16.666667%);
      transform: scaleX(0);
      transform-origin: 0 0;
      z-index: -1;

      @media screen and (max-width: $g-container-lg) {
         transform: none;
         left: -40px;
         right: -40px;
         width: auto;
      }
   }

   // &__image {
   //    overflow: hidden;
   //    display: flex;
   //    justify-content: center;
   //    height: 250px;
   //    width: 100%;

   //    @media screen and (max-width: $g-container-lg) {
   //       display: none;
   //    }

   //    & img {
   //       height: 100%;
   //    }
   // }

   &__text {
      font-size: rem(15);
      line-height: rem(28);
      color: #797979;
   }

   &__description {
      font: rem(21) $g-title-font;
      line-height: rem(32);
      margin-bottom: 50px;
      position: relative;

      &::before {
         content: '';
         background: url('../img/content/quote.png') no-repeat;
         background-size: cover;
         @include size(40px);
         @include absolute(10px, -35px);
         transform: translateX(-100%);
      }
   }
}


.last-news {
   &__header {
      margin-bottom: 3rem;
   }

   &__title {
      font: rem(32) $g-title-font;
      float: left;
   }

   &__controls {
      float: right;
   }

   &__control {
      transform: rotate(90deg);
      padding: 10px 2px;
      margin-left: 10px;

      &.slick-disabled {
         opacity: .25;
      }

      & svg {
         @include size(14px, 20px);
      }
   }
}

.news {
   &:not(:last-child) {
      padding-bottom: 1rem;

      @media screen and (max-width: $g-container-md) {
         padding-bottom: 2rem;
      }
   }

   &__title {
      font: rem(16) $g-title-font;
      line-height: rem(21);
      color: inherit;
   }

   &__date {
      font: rem(12) 'ProximaNova';
      color: $gray-600;
      margin-bottom: .5rem;
   }

   &__text {
      margin-top: 1rem;
      line-height: rem(24);
      color: #797979;
   }
}