.modal-btn {
   margin-top: 2rem;

   & button {
      line-height: rem(56);
      font-size: rem(13);
      outline: none;
   }
}

.close__line {
   background-color: #555;
   @include size(100%, 1px);
   display: block;
   position: absolute;
   transform: rotate(-45deg);

   &:nth-child(2n) {
      transform: rotate(45deg);
   }
}

@media (max-width: $g-container-md) {
   .img-backdroped > .backdrop {
      display: none;
   }

   .modal {
      &-content {
         margin-top: 50px;
      }

      &-header .close {
         left: auto;
         right: 0;
         top: -10px;
         transform: translate(0, -100%);
      }

      &-body,
      &-header,
      &-footer {
         padding-left: 2rem;
         padding-right: 2rem;
      }
   }
}