.modal-btn {
   margin-top: 2rem;

   & button {
      line-height: rem(56);
      font-size: rem(13);
      outline: none;
   }
}

.close__line {
   background-color: #555;
   @include size(100%, 1px);
   display: block;
   position: absolute;
   transform: rotate(-45deg);

   &:nth-child(2n) {
      transform: rotate(45deg);
   }
}

.img-backdroped {
   position: relative;

   & > img {
      width: 100%;
   }

   & > .backdrop {
      background-color: lighten($g-accent-color, 15%);
      @include size(30px, 70%);
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(-15px, -50%);
      z-index: -1;
   }
}

.underline {
   position: relative;

   &::after {
      content: '';
      @include size(100%, 1px);
      position: absolute;
      bottom: 0;
      left: 0;
   }
}

@media (max-width: $g-container-md) {
   .img-backdroped > .backdrop {
      display: none;
   }

   .modal {
      &-content {
         margin-top: 50px;
      }

      &-header .close {
         left: auto;
         right: 0;
         top: -10px;
         transform: translate(0, -100%);
      }

      &-body,
      &-header,
      &-footer {
         padding-left: 2rem;
         padding-right: 2rem;
      }
   }
}