.first-screen {
   min-height: 100vh;
   padding-top: 80px;
   overflow: hidden;

   &__ornament {
      right: 60%;
      top: 25%;
      opacity: 0.05;

      & .ornament-animation__svg {
         @include size(487px, 547px);
         fill: transparent;
         stroke: #232020;
         stroke-width: .5;
      }
   }
}

.welcome {
   position: relative;
   margin-top: #{$c-navbar-height}px;

   & .row {
      align-items: center;
   }

   &__title {
      font: rem(30) $g-title-font;
      line-height: rem(36);
      text-transform: uppercase;
   }

   &__text {
      font: rem(15) $g-text-font;
      line-height: rem(30);
      margin-top: 20px;
      color: $g-text-color;
   }
}

.scroll {
   position: absolute;
   bottom: 50px;
   left: 50%;

   &__mouse {
      box-shadow: 0 0 0 2px rgba($black, .1) inset;
      border-radius: 1000px;
      position: relative;
      @include size(31px, 48px);

      &::after,
      &::before {
         content: '';
         position: absolute;
         left: 0;
         right: 0;
         margin: 0 auto;
      }

      &::before {
         background-color: rgba($black, .2);
         border-radius: 100px;
         @include size(3px, 10px);
         top: 10px;
         opacity: 1;
         animation: mouseWheel 1.5s linear infinite backwards;
      }
   }
}
@keyframes mouseWheel {
   0% {
      transform: translateY(0);
   },
   33%, 
   80% {
      transform: translateY(22px);
   },  
   90%,
   100% {
      height: 0;
      opacity: 0;
      transform: translateY(22px);
   }
}

@media (max-width: $g-container-lg) {
   .first-screen {
      min-height: auto;
   }

   .scroll {
      display: none;
   }

   .welcome {
      margin-top: 30px;

      &__content {
         padding-left: 15px;
      }

      &__title {
         font-size: rem(24);
         line-height: rem(28);
      }

      &__img {
         box-shadow: none;
      }

      &__text {
         line-height: rem(28);
      }
   }
}
@media (max-width: $g-container-md) {
   .welcome {
      &__content {
         margin-top: 50px;
         text-align: center;
      }

      &__title {
         font-size: rem(27);
         line-height: rem(34);
      }

      &__text {
         line-height: rem(26);
      }
   }
}