.section-first-screen {
   min-height: 100vh;
   padding-top: 80px;
}

.welcome {
   position: relative;
   margin-top: 70px;

   & .row {
      align-items: center;
   }

   &__image {
      box-shadow: 0 5px 35px 0 rgba($black, .15);
      width: 100%;
   }

   &__title {
      font: rem(30) $g-title-font;
      line-height: rem(36);
      text-transform: uppercase;
   }

   &__text {
      font: rem(15) $g-text-font;
      line-height: rem(30);
      margin: 20px 0;
      color: $g-text-color;
   }
}

.scroll {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, -100%);

   &__mouse {
      box-shadow: 0 0 0 2px rgba($black, .1) inset;
      border-radius: 1000px;
      position: relative;
      @include size(31px, 48px);

      &::after,
      &::before {
         content: '';
         position: absolute;
         left: 0;
         right: 0;
         margin: 0 auto;
      }

      &::before {
         background-color: rgba($black, .2);
         border-radius: 100px;
         @include size(3px, 10px);
         top: 10px;
         opacity: 1;
         animation: mouseWheel 1.5s linear infinite backwards;
      }
   }
}
@keyframes mouseWheel {
   0% {
      transform: translateY(0);
   },
   33%, 
   80% {
      transform: translateY(22px);
   },  
   90%,
   100% {
      height: 0;
      opacity: 0;
      transform: translateY(22px);
   }
}

@media (max-width: $g-container-lg) {
   .section-first-screen {
      min-height: auto;
   }

   .scroll {
      display: none;
   }

   .welcome {
      margin-top: 30px;

      &__content {
         padding-left: 15px;
      }

      & .row {
         align-items: flex-start;
      }

      &__title {
         font-size: rem(26);
      }

      &__img {
         box-shadow: none;
      }
   }
}
@media (max-width: $g-container-md) {
   .welcome {
      &__content {
         margin-top: 50px;
         text-align: center;
      }

      &__title {
         font-size: rem(27);
         line-height: rem(34);
      }

      &__text {
         line-height: rem(26);
      }
   }
}