.row
   each object in content.blog
      each news in object
         if ( news['id'] == 1 )
            +b.ARTICLE.post._full.col-md-12
               +e.img
                  img(src= news['img'] alt= news['title'])
               +e.info
                  +e.H2.title= news['title']
                  +e.date= news['date']
                  +e.text
                     p В прошедшую пятницу, 15 декабря, в нашем «Пространстве» юнгианский аналитик Инна Кирилюк провела интереснейшую лекцию «Красное. Черное. Белое». Спасибо нашим дорогим гостям за доверие, активное участие и позитивные отклики! Мы ценим каждого из Вас и уже готовим массу полезных мероприятий.
                     p Ключевые тезисы декабрськой лекции Красное. Черное. Белое юнгианского аналитика Инна Кирилюк «Про Белоснежность… или куда мы загоняем наши черно-красные женские части?»:
                     ul
                        li Ребенок рождается законченным человеческим созданием, состоящим из полного спектра жизни и смерти. Но реальность каждой матери и семьи, куда приходит ребенок, имеет свои ограничения. Они отсекают то, что не встраивается в этот реальный мир семьи и матери.
                        li В каждой семье есть свои правила зримые и не зримые. Свои «хорошо» и «плохо». Ребенок их осваивает, чтобы получить порцию любви.
                        li Матери с «отсеченной тенью» дают материнскую любовь скупыми порциями, отчего ребенок страдает «хроническим недоеданием» и занят ухищрениями как получить и усилить эту любовь.
                        li Как формируется наша Белоснежность?
                        li Первая подсказка — родилась девочка, которая одинаково бела, красна и черна, но красный и черный цвет были проигнорированы, только белый соответствовал образу малышки.
                        li Как получается, что мы в самом начале избавляемся от своего разноцветного потенциала? От двух из трех частей Личности и остается такой бледный безжизненный цвет, как белый?
                        li Симона Ханох отвечает, что мы выбираем собственную Белоснежность для нашей матери совершенно неосознанно и интуитивно, зная какую нас мама может любить. Первая белоснежность — это подарок для мамы.
                        li Персона — это личина, которую мы надеваем при встрече с окружающим миром. Важно, чтобы она менялась и у человека было бы несколько ролей в обществе. Но важно, чтобы они были разные. Если Персона прилипает и вы везде, например, хорошая, то это и есть звоночек о том, что Тень не дремлет, она накапливается. Такие люди часто могут чувствовать некоторые переживания неправды внутри. Появляется внутреннее переживание вины или стыда, что что-то не так. Потому что эта персона начинает слишком прилипать к нам. И в других своих аспектах нам нет места, где мы могли бы безопасно их проявить. Тогда Тень будет выскакивать в самый не нужный момент.
                        li В формировании Персоны больше играет семья и общество, чем сам человек. Родители ребенка всегда несут проекцию Бога, потому что главное, что создают родители ребенка — это чувство безопасности, необходимое для роста и развития. Если родитель ценит уникальность своего ребенка — дает ему чувство собственной ценности, то он вырастает достаточно свободным. Такой ребенок достаточно гибкий, чтобы приспособиться к требованиям окружающего мира. Его Персона всегда будет соответствовать месту и времени.
                        li Если ребенок растет не в благополучных условиях, то берет верх инстинкт самосохранения. И главная задача развития, развить качества необходимые для выживания.
                        li Образ «Тревожного леса» может описывать наш внутренний процесс, когда мы начинаем прислушиваться к себе, пустота и уныние нас одолевают. Нам не нравится наша жизнь, внутренне мы ее чувствуем чуждой. Об этой внутренней «чуждости» говорят разные симптомы — тревожные состояния, депрессивные настроения, панические атаки.
                     p По многочисленным просьбам уже в феврале Нового года в Центре «Пространство» стартует цикл лекций, посвящённых детской и подростковой психологии!
                     p 23 февраля в 19.00 Инна Кирилюк расскажет о психологической привязанности ребёнка к матери как фундаменте здоровой личности. Будем говорить о Теории Привязанности Дж. Боулби, природе и типах привязанности, ошибках родителей и обсудим как их можно исправить.
                     p Следите за новостями и анонсами предстоящих мероприятий!
                     p С нетерпением ждем Вас в нашем «Пространстве!»
                     p Рекомендация для участников лекции «Красное. Чёрное. Белое» от Инны Кирилюк — нига Симоны Мацлиах-Ханох «Сказки обратимой смерти. Депрессия как целительная сила»
                     p.text-center
                        a(href="#")
                           img(src="https://prostranstvo.center/pub/images/9ab2628ae0e7a000.jpg" alt="")
                  +e.FOOTER.footer
                     +e.tags
                        span(class="fa fa-tags tags-icon" aria-hidden="true")
                        a(href="#") Открытые мероприятия
                     .social-share
                        a(href="")
                           span( class="fa fa-facebook" aria-hidden="true")
                        a(href="")
                           span(class="fa fa-vk" aria-hidden="true")
                        a(href="")
                           span(class="fa fa-twitter" aria-hidden="true")
                        a(href="")
                           span(class="fa fa-google-plus" aria-hidden="true")
               +b.related-posts
                  +e.H4.title Также читайте
                  .row
                     each object in content.blog
                        each news in object
                           if ( news['id'] < 4 )
                              .col-sm-4.post-related
                                 a.post-related__img(href="#")
                                    img(src= news['img'] alt= news['title'])
                                 h6.post-related__title
                                    a(href="#")= news['title']
                                 a.post-related__date(href="#")= news['date']